asgiref
beautifulsoup4
certifi
colorama
crispy-bootstrap5
distlib
dj-database-url
Django
django-bootstrap-v5
django-crispy-forms
django-environ
EasyProcess
entrypoint2
filelock
MouseInfo
mss
numpy
opencv-contrib-python
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
pypng
PyRect
pyscreenshot
PyScreeze
python-dotenv
pytweening
qrcode
soupsieve
sqlparse
typing_extensions
tzdata
virtualenv
