{% extends "base.html" %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-5 text-success">List Of Musicians</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td><a style="text-decoration: none;" href="{% url 'edit_musician' i.id %}">{{i.musician}}</a> </td>
                    <td>{{i.musician.Email}}</td>
                    <td>{{i.Rating}}</td>
                    <td>{{i.musician.Instrument_Type}}</td>
                    <td>{{i.Album_name}}</td>
                    <td>{{i.Release_date}}</td>
                    <td>
                      
                        <a class="btn btn-warning" href="{% url 'edit-album' i.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete-album' i.id %}">Delete</a>
                      
                    </td> 
                </tr>
            {% endfor %} 
        </tbody>
      </table>

</div>
{% endblock content %}