{% extends 'base.html' %}
{% load static %}

{% block head_title %}Banking System{% endblock %} {% block content %}

{% include 'messages.html' %}

<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    

    <div
        class="flex lg:py-12 flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to Mamar Bank</h1>
        <p class="leading-normal mb-4">
            Banks play a crucial role in the global economy, serving as financial institutions that facilitate the flow of money and provide a wide range of financial services. These institutions have evolved over centuries, adapting to changes in technology, regulation, and the needs of their customers.One of the primary functions of banks is to accept deposits from individuals, businesses, and other entities. These deposits form the foundation for the creation of loans, which banks extend to borrowers for various purposes, such as purchasing a home, starting or expanding a business, or funding education.
        </p>
        {% if not request.user.is_authenticated %}
        <div class="flex justify-end w-full">
            <a href="{% url 'register' %}"
                class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
        </div>
        {% endif %}
    </div>
    <div class="w-full lg:w-1/2 lg:py-6 text-center ">
        <img class="rounded-2xl" src="{% static 'img/bank.jpg' %}" />
    </div>
</div>

{% endblock %}